################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PrintHero/FileContentIndex
/.vs/PrintHero/v17/.suo
/.vs/PrintHero/CopilotIndices/17.14.734.62261
/.vs/PrintHero/v17/DocumentLayout.backup.json
/.vs/PrintHero/v17/DocumentLayout.json
/Main Screen.png
/Printer Settings.png
