<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Main Product Definition -->
	<Product Id="*"
			 Name="PrintHero"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="PrintHero"
			 UpgradeCode="12345678-1234-1234-1234-123456789012">

		<!-- Package Information -->
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Description="PrintHero - Professional PDF printing solution"
				 Comments="Complete PDF printing and monitoring solution with UI and Service"
				 Manufacturer="PrintHero"
				 Platform="x86" />

		<!-- Upgrade Logic -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of PrintHero is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Custom Properties -->
		<Property Id="ARPPRODUCTICON" Value="PrintHeroIcon.exe" />
		<Property Id="ARPHELPLINK" Value="https://github.com/printhero/support" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/printhero" />
		<Property Id="ARPNOREPAIR" Value="1" />

		<!-- Features -->
		<Feature Id="CoreFeature" Title="PrintHero Core Application" Level="1" Description="Main PrintHero application components">
			<ComponentGroupRef Id="CoreComponents" />
			<ComponentGroupRef Id="UIComponents" />
			<ComponentGroupRef Id="ServiceComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ProgramMenuDir" />
			<ComponentRef Id="FileAssociations" />
			<ComponentRef Id="RegistryEntries" />
		</Feature>

		<Feature Id="DesktopShortcut" Title="Desktop Shortcut" Level="1" Description="Create desktop shortcut">
			<ComponentRef Id="DesktopShortcut" />
		</Feature>

		<!-- UI Configuration -->
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<!-- Custom Icons -->
		<Icon Id="PrintHeroIcon.exe" SourceFile="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.exe" />

	</Product>

	<!-- Directory Structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Program Files -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PrintHero" />
			</Directory>

			<!-- Start Menu -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="PrintHero" />
			</Directory>

			<!-- Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop" />

			<!-- Common Documents -->
			<Directory Id="CommonDocumentsFolder">
				<Directory Id="PrintHeroDocuments" Name="PrintHero" />
			</Directory>

		</Directory>
	</Fragment>

	<!-- Core Components (Shared Libraries) -->
	<Fragment>
		<ComponentGroup Id="CoreComponents" Directory="INSTALLFOLDER">

			<!-- PrintHero Core Library -->
			<Component Id="PrintHeroCore" Guid="11111111-1111-1111-1111-111111111111">
				<File Id="PrintHeroCoreFile"
					  Source="..\PrintHero.Core\bin\Release\net8.0-windows\PrintHero.Core.dll"
					  KeyPath="yes"
					  Checksum="yes" />
				<File Id="PrintHeroCorePdb" Source="..\PrintHero.Core\bin\Release\net8.0-windows\PrintHero.Core.pdb" />
			</Component>

			<!-- Microsoft Extensions -->
			<Component Id="MSExtensions" Guid="22222222-2222-2222-2222-222222222222">
				<File Id="MSExtConfigAbstractions" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtConfigBinder" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Configuration.Binder.dll" />
				<File Id="MSExtConfig" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Configuration.dll" />
				<File Id="MSExtConfigJson" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Configuration.Json.dll" />
				<File Id="MSExtDI" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.DependencyInjection.dll" />
				<File Id="MSExtDIAbstractions" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
				<File Id="MSExtHosting" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Hosting.dll" />
				<File Id="MSExtHostingAbstractions" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Hosting.Abstractions.dll" />
				<File Id="MSExtLogging" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Logging.dll" />
				<File Id="MSExtLoggingAbstractions" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Logging.Abstractions.dll" />
				<File Id="MSExtOptions" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Options.dll" />
				<File Id="MSExtPrimitives" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Microsoft.Extensions.Primitives.dll" />
			</Component>

			<!-- PDF Processing Libraries -->
			<Component Id="PDFLibraries" Guid="33333333-3333-3333-3333-333333333333">
				<File Id="PdfiumViewer" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfiumViewer.dll" KeyPath="yes" />
				<File Id="PdfSharp" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfSharp.dll" />
				<File Id="PdfSharpCharting" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfSharp.Charting.dll" />
				<File Id="PdfSharpQuality" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfSharp.Quality.dll" />
				<File Id="PdfSharpSystem" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfSharp.System.dll" />
				<File Id="PdfSharpWPFonts" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PdfSharp.WPFonts.dll" />
			</Component>

			<!-- Serilog Logging Libraries -->
			<Component Id="SerilogLibraries" Guid="44444444-4444-4444-4444-444444444444">
				<File Id="Serilog" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Serilog.dll" KeyPath="yes" />
				<File Id="SerilogExtHosting" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Serilog.Extensions.Hosting.dll" />
				<File Id="SerilogExtLogging" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Serilog.Extensions.Logging.dll" />
				<File Id="SerilogSinksFile" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Serilog.Sinks.File.dll" />
			</Component>

			<!-- System Libraries -->
			<Component Id="SystemLibraries" Guid="55555555-5555-5555-5555-555555555555">
				<File Id="SystemCodeDom" Source="..\PrintHero.UI\bin\Release\net8.0-windows\System.CodeDom.dll" KeyPath="yes" />
				<File Id="SystemDataSQLite" Source="..\PrintHero.UI\bin\Release\net8.0-windows\System.Data.SQLite.dll" />
				<File Id="SystemTextJson" Source="..\PrintHero.UI\bin\Release\net8.0-windows\System.Text.Json.dll" />
				<File Id="SystemDiagnosticSource" Source="..\PrintHero.UI\bin\Release\net8.0-windows\System.Diagnostics.DiagnosticSource.dll" />
			</Component>

			<!-- Native Libraries -->
			<Component Id="NativeLibraries" Guid="66666666-6666-6666-6666-666666666666">
				<File Id="PdfiumNative" Source="..\PrintHero.UI\bin\Release\net8.0-windows\x64\pdfium.dll" KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- UI Components -->
	<Fragment>
		<ComponentGroup Id="UIComponents" Directory="INSTALLFOLDER">

			<!-- PrintHero UI Application -->
			<Component Id="PrintHeroUI" Guid="77777777-7777-7777-7777-777777777777">
				<File Id="PrintHeroUIFile"
					  Source="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.exe"
					  KeyPath="yes"
					  Checksum="yes" />
				<File Id="PrintHeroUIDll" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.dll" />
				<File Id="PrintHeroUIPdb" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.pdb" />
				<File Id="PrintHeroUIDeps" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.deps.json" />
				<File Id="PrintHeroUIRuntimeConfig" Source="..\PrintHero.UI\bin\Release\net8.0-windows\PrintHero.UI.runtimeconfig.json" />
			</Component>

			<!-- WPF Specific Libraries -->
			<Component Id="WPFLibraries" Guid="88888888-8888-8888-8888-888888888888">
				<File Id="HardcodedNotifyIcon" Source="..\PrintHero.UI\bin\Release\net8.0-windows\Hardcodet.NotifyIcon.Wpf.dll" KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- Service Components -->
	<Fragment>
		<ComponentGroup Id="ServiceComponents" Directory="INSTALLFOLDER">

			<!-- PrintHero Service Application -->
			<Component Id="PrintHeroService" Guid="99999999-9999-9999-9999-999999999999">
				<File Id="PrintHeroServiceFile"
					  Source="..\PrintHero.Service\bin\Release\net8.0-windows\PrintHero.Service.exe"
					  KeyPath="yes"
					  Checksum="yes" />
				<File Id="PrintHeroServiceDll" Source="..\PrintHero.Service\bin\Release\net8.0-windows\PrintHero.Service.dll" />
				<File Id="PrintHeroServicePdb" Source="..\PrintHero.Service\bin\Release\net8.0-windows\PrintHero.Service.pdb" />
				<File Id="PrintHeroServiceDeps" Source="..\PrintHero.Service\bin\Release\net8.0-windows\PrintHero.Service.deps.json" />
				<File Id="PrintHeroServiceRuntimeConfig" Source="..\PrintHero.Service\bin\Release\net8.0-windows\PrintHero.Service.runtimeconfig.json" />
			</Component>

			<!-- Service Configuration Files -->
			<Component Id="ServiceConfig" Guid="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA">
				<File Id="AppSettingsJson" Source="..\PrintHero.Service\bin\Release\net8.0-windows\appsettings.json" KeyPath="yes" />
				<File Id="AppSettingsDevJson" Source="..\PrintHero.Service\bin\Release\net8.0-windows\appsettings.Development.json" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- Shortcuts and Menu Items -->
	<Fragment>

		<!-- Start Menu Shortcut Component -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
				<Shortcut Id="StartMenuPrintHero"
						  Name="PrintHero"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<Shortcut Id="UninstallProduct"
						  Name="Uninstall PrintHero"
						  Target="[SystemFolder]msiexec.exe"
						  Arguments="/x [ProductCode]"
						  Description="Uninstalls PrintHero" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Installed"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Program Menu Directory -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ProgramMenuDir" Guid="CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Menu"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Desktop Shortcut -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
				<Shortcut Id="DesktopShortcut"
						  Name="PrintHero"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Desktop"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

	</Fragment>

	<!-- File Associations -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="FileAssociations" Guid="EEEEEEEE-EEEE-EEEE-EEEE-EEEEEEEEEEEE">

				<!-- PDF File Association -->
				<ProgId Id="PrintHero.PDF" Description="PrintHero PDF Document">
					<Extension Id="pdf" ContentType="application/pdf">
						<Verb Id="open" Command="Open with PrintHero" TargetFile="PrintHeroUIFile" Argument='"%1"' />
						<Verb Id="print" Command="Print with PrintHero" TargetFile="PrintHeroUIFile" Argument='-print "%1"' />
					</Extension>
				</ProgId>

				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\FileAssoc"
							   Name="pdf"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Registry Entries -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="RegistryEntries" Guid="FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF">

				<!-- Application Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero">
					<RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" />
					<RegistryValue Name="Version" Type="string" Value="1.0.0.0" />
					<RegistryValue Name="InstallDate" Type="string" Value="[Date]" />
				</RegistryKey>

				<!-- User Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero\Settings">
					<RegistryValue Name="DefaultPrinter" Type="string" Value="" />
					<RegistryValue Name="PrintQuality" Type="string" Value="High" />
					<RegistryValue Name="AutoRotate" Type="integer" Value="1" />
					<RegistryValue Name="FitToPage" Type="integer" Value="1" />
				</RegistryKey>

				<RegistryValue Root="HKCU"
							   Key="SOFTWARE\PrintHero"
							   Name="Installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

</Wix>