<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Main Product Definition -->
	<Product Id="*"
			 Name="PrintHero"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="PrintHero"
			 UpgradeCode="12345678-1234-1234-1234-123456789012">

		<!-- Package Information -->
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Description="PrintHero - Professional PDF printing solution"
				 Comments="Complete PDF printing and monitoring solution with UI and Service"
				 Manufacturer="PrintHero"
				 Platform="x86" />

		<!-- Upgrade Logic -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of PrintHero is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Custom Properties -->
		<Property Id="ARPPRODUCTICON" Value="PrintHeroIcon.exe" />
		<Property Id="ARPHELPLINK" Value="https://github.com/printhero/support" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/printhero" />
		<Property Id="ARPNOREPAIR" Value="1" />

		<!-- Features -->
		<Feature Id="CoreFeature" Title="PrintHero Core Application" Level="1" Description="Main PrintHero application components">
			<ComponentGroupRef Id="PublishedFiles" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ProgramMenuDir" />
			<ComponentRef Id="FileAssociations" />
			<ComponentRef Id="RegistryEntries" />
		</Feature>

		<Feature Id="DesktopShortcut" Title="Desktop Shortcut" Level="1" Description="Create desktop shortcut">
			<ComponentRef Id="DesktopShortcut" />
		</Feature>

		<!-- UI Configuration -->
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<!-- Custom Icons -->
		<Icon Id="PrintHeroIcon.exe" SourceFile="C:\Projects\PrintHero Publish\PrintHero.UI.exe" />

	</Product>

	<!-- Directory Structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Program Files -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PrintHero">
					<Directory Id="X64FOLDER" Name="x64" />
					<Directory Id="RUNTIMESFOLDER" Name="runtimes">
						<Directory Id="WINX64FOLDER" Name="win-x64">
							<Directory Id="NATIVEFOLDER" Name="native" />
						</Directory>
					</Directory>
				</Directory>
			</Directory>

			<!-- Start Menu -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="PrintHero" />
			</Directory>

			<!-- Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop" />

		</Directory>
	</Fragment>

	<!-- Published Files (All in one component group) -->
	<Fragment>
		<ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">

			<!-- Main PrintHero Application -->
			<Component Id="PrintHeroApp" Guid="11111111-1111-1111-1111-111111111111">
				<File Id="PrintHeroUIExe" Source="C:\Projects\PrintHero Publish\PrintHero.UI.exe" KeyPath="yes" Checksum="yes" />
				<File Id="PrintHeroUIDll" Source="C:\Projects\PrintHero Publish\PrintHero.UI.dll" />
				<File Id="PrintHeroUIDeps" Source="C:\Projects\PrintHero Publish\PrintHero.UI.deps.json" />
				<File Id="PrintHeroUIRuntimeConfig" Source="C:\Projects\PrintHero Publish\PrintHero.UI.runtimeconfig.json" />
				<File Id="PrintHeroCoreDll" Source="C:\Projects\PrintHero Publish\PrintHero.Core.dll" />
			</Component>

			<!-- Microsoft Extensions Configuration -->
			<Component Id="MSExtensionsConfig" Guid="22222222-2222-2222-2222-222222222222">
				<File Id="MSExtConfigAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtConfig" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.dll" />
				<File Id="MSExtConfigBinder" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.Binder.dll" />
				<File Id="MSExtConfigCommandLine" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.CommandLine.dll" />
				<File Id="MSExtConfigEnvVars" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
				<File Id="MSExtConfigFileExt" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.FileExtensions.dll" />
				<File Id="MSExtConfigJson" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.Json.dll" />
				<File Id="MSExtConfigUserSecrets" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Configuration.UserSecrets.dll" />
			</Component>

			<!-- Microsoft Extensions Dependency Injection -->
			<Component Id="MSExtensionsDI" Guid="23232323-2323-2323-2323-232323232323">
				<File Id="MSExtDI" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
				<File Id="MSExtDIAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			</Component>

			<!-- Microsoft Extensions Diagnostics -->
			<Component Id="MSExtensionsDiagnostics" Guid="24242424-2424-2424-2424-242424242424">
				<File Id="MSExtDiagnosticsAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Diagnostics.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtDiagnostics" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Diagnostics.dll" />
			</Component>

			<!-- Microsoft Extensions File Providers -->
			<Component Id="MSExtensionsFileProviders" Guid="25252525-2525-2525-2525-252525252525">
				<File Id="MSExtFileProvAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.FileProviders.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtFileProvPhysical" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.FileProviders.Physical.dll" />
				<File Id="MSExtFileSystemGlobbing" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.FileSystemGlobbing.dll" />
			</Component>

			<!-- Microsoft Extensions Hosting -->
			<Component Id="MSExtensionsHosting" Guid="26262626-2626-2626-2626-262626262626">
				<File Id="MSExtHosting" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Hosting.dll" KeyPath="yes" />
				<File Id="MSExtHostingAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Hosting.Abstractions.dll" />
			</Component>

			<!-- Microsoft Extensions Logging -->
			<Component Id="MSExtensionsLogging" Guid="27272727-2727-2727-2727-272727272727">
				<File Id="MSExtLogging" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.dll" KeyPath="yes" />
				<File Id="MSExtLoggingAbstractions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.Abstractions.dll" />
				<File Id="MSExtLoggingConfig" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.Configuration.dll" />
				<File Id="MSExtLoggingConsole" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.Console.dll" />
				<File Id="MSExtLoggingDebug" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.Debug.dll" />
				<File Id="MSExtLoggingEventLog" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.EventLog.dll" />
				<File Id="MSExtLoggingEventSource" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Logging.EventSource.dll" />
			</Component>

			<!-- Microsoft Extensions Options -->
			<Component Id="MSExtensionsOptions" Guid="28282828-2828-2828-2828-282828282828">
				<File Id="MSExtOptions" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Options.dll" KeyPath="yes" />
				<File Id="MSExtOptionsConfigExt" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
				<File Id="MSExtPrimitives" Source="C:\Projects\PrintHero Publish\Microsoft.Extensions.Primitives.dll" />
			</Component>

			<!-- System Libraries -->
			<Component Id="SystemLibraries" Guid="33333333-3333-3333-3333-333333333333">
				<File Id="SystemDiagnosticsDiagnosticSource" Source="C:\Projects\PrintHero Publish\System.Diagnostics.DiagnosticSource.dll" KeyPath="yes" />
				<File Id="SystemManagement" Source="C:\Projects\PrintHero Publish\System.Management.dll" />
				<File Id="SystemTextJson" Source="C:\Projects\PrintHero Publish\System.Text.Json.dll" />
			</Component>

			<!-- Additional System Libraries -->
			<Component Id="AdditionalSystemLibraries" Guid="77777777-7777-7777-7777-777777777777">
				<File Id="SystemTextEncodingsWeb" Source="C:\Projects\PrintHero Publish\System.Text.Encodings.Web.dll" KeyPath="yes" />
				<File Id="SystemIOPipelines" Source="C:\Projects\PrintHero Publish\System.IO.Pipelines.dll" />
				<File Id="SystemDiagnosticsEventLog" Source="C:\Projects\PrintHero Publish\System.Diagnostics.EventLog.dll" />
			</Component>

			<!-- Reference Libraries -->
			<Component Id="RefsLibraries" Guid="89898989-8989-8989-8989-898989898989">
				<File Id="SystemDrawingCommon" Source="C:\Projects\PrintHero Publish\refs\System.Drawing.Common.dll" KeyPath="yes" />
				<File Id="SystemMemory" Source="C:\Projects\PrintHero Publish\refs\System.Memory.dll" />
				<File Id="SystemNumericsVectors" Source="C:\Projects\PrintHero Publish\refs\System.Numerics.Vectors.dll" />
				<File Id="SystemRuntimeCompilerServicesUnsafe" Source="C:\Projects\PrintHero Publish\refs\System.Runtime.CompilerServices.Unsafe.dll" />
				<File Id="SystemThreadingTasksExtensions" Source="C:\Projects\PrintHero Publish\refs\System.Threading.Tasks.Extensions.dll" />
				<File Id="SystemValueTuple" Source="C:\Projects\PrintHero Publish\refs\System.ValueTuple.dll" />
				<File Id="SystemBuffers" Source="C:\Projects\PrintHero Publish\refs\System.Buffers.dll" />
			</Component>

			<!-- Serilog Logging -->
			<Component Id="SerilogLibraries" Guid="44444444-4444-4444-4444-444444444444">
				<File Id="Serilog" Source="C:\Projects\PrintHero Publish\Serilog.dll" KeyPath="yes" />
				<File Id="SerilogExtHosting" Source="C:\Projects\PrintHero Publish\Serilog.Extensions.Hosting.dll" />
				<File Id="SerilogSinksFile" Source="C:\Projects\PrintHero Publish\Serilog.Sinks.File.dll" />
			</Component>

			<!-- PDF Processing Libraries -->
			<Component Id="PDFLibraries" Guid="55555555-5555-5555-5555-555555555555">
				<File Id="PdfiumViewer" Source="C:\Projects\PrintHero Publish\PdfiumViewer.dll" KeyPath="yes" />
				<File Id="PdfSharp" Source="C:\Projects\PrintHero Publish\PdfSharp.dll" />
				<File Id="PdfSharpCharting" Source="C:\Projects\PrintHero Publish\PdfSharp.Charting.dll" />
				<File Id="PdfSharpQuality" Source="C:\Projects\PrintHero Publish\PdfSharp.Quality.dll" />
				<File Id="PdfSharpSnippets" Source="C:\Projects\PrintHero Publish\PdfSharp.Snippets.dll" />
				<File Id="PdfSharpSystem" Source="C:\Projects\PrintHero Publish\PdfSharp.System.dll" />
				<File Id="PdfSharpWPFonts" Source="C:\Projects\PrintHero Publish\PdfSharp.WPFonts.dll" />
			</Component>

			<!-- Serilog Logging Complete -->
			<Component Id="SerilogComplete" Guid="56565656-5656-5656-5656-565656565656">
				<File Id="SerilogExtLogging" Source="C:\Projects\PrintHero Publish\Serilog.Extensions.Logging.dll" KeyPath="yes" />
			</Component>

			<!-- WPF and UI Libraries -->
			<Component Id="WPFLibraries" Guid="66666666-6666-6666-6666-666666666666">
				<File Id="HardcodedNotifyIcon" Source="C:\Projects\PrintHero Publish\Hardcodet.NotifyIcon.Wpf.dll" KeyPath="yes" />
			</Component>

			<!-- Additional Common Libraries (in refs folder) -->
			<Component Id="CommonLibraries" Guid="67676767-6767-6767-6767-676767676767">
				<File Id="SystemSecurityAccessControl" Source="C:\Projects\PrintHero Publish\refs\System.Security.AccessControl.dll" KeyPath="yes" />
				<File Id="SystemSecurityPrincipalWindows" Source="C:\Projects\PrintHero Publish\refs\System.Security.Principal.Windows.dll" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- Shortcuts and Menu Items -->
	<Fragment>

		<!-- Start Menu Shortcut Component -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
				<Shortcut Id="StartMenuPrintHero"
						  Name="PrintHero"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<Shortcut Id="UninstallProduct"
						  Name="Uninstall PrintHero"
						  Target="[SystemFolder]msiexec.exe"
						  Arguments="/x [ProductCode]"
						  Description="Uninstalls PrintHero" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Installed"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Program Menu Directory -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ProgramMenuDir" Guid="CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Menu"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Desktop Shortcut -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
				<Shortcut Id="DesktopShortcut"
						  Name="PrintHero"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Desktop"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

	</Fragment>

	<!-- File Associations -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="FileAssociations" Guid="EEEEEEEE-EEEE-EEEE-EEEE-EEEEEEEEEEEE">

				<!-- PDF File Association -->
				<ProgId Id="PrintHero.PDF" Description="PrintHero PDF Document">
					<Extension Id="pdf" ContentType="application/pdf">
						<Verb Id="open" Command="Open with PrintHero" TargetFile="PrintHeroUIExe" Argument='"%1"' />
						<Verb Id="print" Command="Print with PrintHero" TargetFile="PrintHeroUIExe" Argument='-print "%1"' />
					</Extension>
				</ProgId>

				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\FileAssoc"
							   Name="pdf"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Registry Entries -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="RegistryEntries" Guid="FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF">

				<!-- Application Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero">
					<RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" />
					<RegistryValue Name="Version" Type="string" Value="1.0.0.0" />
					<RegistryValue Name="InstallDate" Type="string" Value="[Date]" />
				</RegistryKey>

				<!-- User Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero\Settings">
					<RegistryValue Name="DefaultPrinter" Type="string" Value="" />
					<RegistryValue Name="PrintQuality" Type="string" Value="High" />
					<RegistryValue Name="AutoRotate" Type="integer" Value="1" />
					<RegistryValue Name="FitToPage" Type="integer" Value="1" />
				</RegistryKey>

				<RegistryValue Root="HKCU"
							   Key="SOFTWARE\PrintHero"
							   Name="Installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

</Wix>