<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Main Product Definition -->
	<Product Id="*"
			 Name="PrintHero.UI.exe"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="PrintHero"
			 UpgradeCode="12345678-1234-1234-1234-123456789012">

		<!-- Package Information -->
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Description="PrintHero.UI.exe Application"
				 Comments="Professional PDF printing solution"
				 Manufacturer="PrintHero"
				 Platform="x86" />

		<!-- Upgrade Logic -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of PrintHero.UI.exe is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Custom Properties -->
		<Property Id="ARPPRODUCTICON" Value="PrintHeroIcon.exe" />
		<Property Id="ARPHELPLINK" Value="https://yourwebsite.com/support" />
		<Property Id="ARPURLINFOABOUT" Value="https://yourwebsite.com" />
		<Property Id="ARPNOREPAIR" Value="1" />

		<!-- Features -->
		<Feature Id="ProductFeature" Title="PrintHero.UI.exe Application" Level="1" Description="Main PrintHero.UI.exe application">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ProgramMenuDir" />
			<ComponentRef Id="FileAssociations" />
			<ComponentRef Id="RegistryEntries" />
		</Feature>

		<Feature Id="DesktopShortcut" Title="Desktop Shortcut" Level="1" Description="Create desktop shortcut">
			<ComponentRef Id="DesktopShortcut" />
		</Feature>

		<!-- UI Configuration -->
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<!-- Custom Icons -->
		<Icon Id="PrintHeroIcon.exe" SourceFile="bin\app-files\PrintHero.exe" />

	</Product>

	<!-- Directory Structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Program Files -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PrintHero" />
			</Directory>

			<!-- Start Menu -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="PrintHero" />
			</Directory>

			<!-- Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop" />

			<!-- Common Documents -->
			<Directory Id="CommonDocumentsFolder">
				<Directory Id="PrintHeroDocuments" Name="PrintHero" />
			</Directory>

		</Directory>
	</Fragment>

	<!-- Main Application Components -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<!-- Main Executable -->
			<Component Id="PrintHeroExe" Guid="11111111-1111-1111-1111-111111111111">
				<File Id="PrintHeroExeFile"
					  Source="bin\app-files\PrintHero.exe"
					  KeyPath="yes"
					  Checksum="yes" />
			</Component>

			<!-- PrintHero UI Application -->
			<Component Id="PrintHeroUI" Guid="11111111-1111-1111-1111-111111111112">
				<File Id="PrintHeroUIFile"
					  Source="bin\app-files\PrintHero.UI.exe"
					  KeyPath="yes"
					  Checksum="yes" />
			</Component>

			<!-- PrintHero Core Libraries -->
			<Component Id="PrintHeroCoreLibs" Guid="22222222-2222-2222-2222-222222222222">
				<File Id="PrintHeroCore" Source="bin\app-files\PrintHero.Core.dll" KeyPath="yes" />
				<File Id="PrintHeroCorePdb" Source="bin\app-files\PrintHero.Core.pdb" KeyPath="no" />
				<File Id="PrintHeroUIDll" Source="bin\app-files\PrintHero.UI.dll" KeyPath="no" />
				<File Id="PrintHeroUIPdb" Source="bin\app-files\PrintHero.UI.pdb" KeyPath="no" />
				<File Id="PrintHeroUIDeps" Source="bin\app-files\PrintHero.UI.deps.json" KeyPath="no" />
				<File Id="PrintHeroUIRuntimeConfig" Source="bin\app-files\PrintHero.UI.runtimeconfig.json" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Configuration -->
			<Component Id="MSExtensionsConfig" Guid="33333333-3333-3333-3333-333333333333">
				<File Id="MSExtConfigAbstractions" Source="bin\app-files\Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtConfigBinder" Source="bin\app-files\Microsoft.Extensions.Configuration.Binder.dll" KeyPath="no" />
				<File Id="MSExtConfigCommandLine" Source="bin\app-files\Microsoft.Extensions.Configuration.CommandLine.dll" KeyPath="no" />
				<File Id="MSExtConfig" Source="bin\app-files\Microsoft.Extensions.Configuration.dll" KeyPath="no" />
				<File Id="MSExtConfigEnvVars" Source="bin\app-files\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" KeyPath="no" />
				<File Id="MSExtConfigFileExt" Source="bin\app-files\Microsoft.Extensions.Configuration.FileExtensions.dll" KeyPath="no" />
				<File Id="MSExtConfigJson" Source="bin\app-files\Microsoft.Extensions.Configuration.Json.dll" KeyPath="no" />
				<File Id="MSExtConfigUserSecrets" Source="bin\app-files\Microsoft.Extensions.Configuration.UserSecrets.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Dependency Injection -->
			<Component Id="MSExtensionsDI" Guid="44444444-4444-4444-4444-444444444444">
				<File Id="MSExtDIAbstractions" Source="bin\app-files\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtDI" Source="bin\app-files\Microsoft.Extensions.DependencyInjection.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Diagnostics -->
			<Component Id="MSExtensionsDiagnostics" Guid="55555555-5555-5555-5555-555555555555">
				<File Id="MSExtDiagAbstractions" Source="bin\app-files\Microsoft.Extensions.Diagnostics.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtDiag" Source="bin\app-files\Microsoft.Extensions.Diagnostics.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions File Providers -->
			<Component Id="MSExtensionsFileProviders" Guid="66666666-6666-6666-6666-666666666666">
				<File Id="MSExtFileProvAbstractions" Source="bin\app-files\Microsoft.Extensions.FileProviders.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtFileProvPhysical" Source="bin\app-files\Microsoft.Extensions.FileProviders.Physical.dll" KeyPath="no" />
				<File Id="MSExtFileSystemGlobbing" Source="bin\app-files\Microsoft.Extensions.FileSystemGlobbing.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Hosting -->
			<Component Id="MSExtensionsHosting" Guid="77777777-7777-7777-7777-777777777777">
				<File Id="MSExtHostingAbstractions" Source="bin\app-files\Microsoft.Extensions.Hosting.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtHosting" Source="bin\app-files\Microsoft.Extensions.Hosting.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Logging -->
			<Component Id="MSExtensionsLogging" Guid="88888888-8888-8888-8888-888888888888">
				<File Id="MSExtLoggingAbstractions" Source="bin\app-files\Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" />
				<File Id="MSExtLoggingConfig" Source="bin\app-files\Microsoft.Extensions.Logging.Configuration.dll" KeyPath="no" />
				<File Id="MSExtLoggingConsole" Source="bin\app-files\Microsoft.Extensions.Logging.Console.dll" KeyPath="no" />
				<File Id="MSExtLoggingDebug" Source="bin\app-files\Microsoft.Extensions.Logging.Debug.dll" KeyPath="no" />
				<File Id="MSExtLogging" Source="bin\app-files\Microsoft.Extensions.Logging.dll" KeyPath="no" />
				<File Id="MSExtLoggingEventLog" Source="bin\app-files\Microsoft.Extensions.Logging.EventLog.dll" KeyPath="no" />
				<File Id="MSExtLoggingEventSource" Source="bin\app-files\Microsoft.Extensions.Logging.EventSource.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Options -->
			<Component Id="MSExtensionsOptions" Guid="99999999-9999-9999-9999-999999999999">
				<File Id="MSExtOptionsConfigExt" Source="bin\app-files\Microsoft.Extensions.Options.ConfigurationExtensions.dll" KeyPath="yes" />
				<File Id="MSExtOptions" Source="bin\app-files\Microsoft.Extensions.Options.dll" KeyPath="no" />
			</Component>

			<!-- Microsoft Extensions Primitives -->
			<Component Id="MSExtensionsPrimitives" Guid="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA">
				<File Id="MSExtPrimitives" Source="bin\app-files\Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
			</Component>

			<!-- PDF Processing Libraries -->
			<Component Id="PDFLibraries" Guid="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
				<File Id="PdfiumViewer" Source="bin\app-files\PdfiumViewer.dll" KeyPath="yes" />
				<File Id="PdfSharp" Source="bin\app-files\PdfSharp.dll" KeyPath="no" />
				<File Id="PdfSharpCharting" Source="bin\app-files\PdfSharp.Charting.dll" KeyPath="no" />
				<File Id="PdfSharpQuality" Source="bin\app-files\PdfSharp.Quality.dll" KeyPath="no" />
				<File Id="PdfSharpSnippets" Source="bin\app-files\PdfSharp.Snippets.dll" KeyPath="no" />
				<File Id="PdfSharpSystem" Source="bin\app-files\PdfSharp.System.dll" KeyPath="no" />
				<File Id="PdfSharpWPFonts" Source="bin\app-files\PdfSharp.WPFonts.dll" KeyPath="no" />
			</Component>

			<!-- Serilog Logging Libraries -->
			<Component Id="SerilogLibraries" Guid="CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
				<File Id="Serilog" Source="bin\app-files\Serilog.dll" KeyPath="yes" />
				<File Id="SerilogExtHosting" Source="bin\app-files\Serilog.Extensions.Hosting.dll" KeyPath="no" />
				<File Id="SerilogExtLogging" Source="bin\app-files\Serilog.Extensions.Logging.dll" KeyPath="no" />
				<File Id="SerilogSinksFile" Source="bin\app-files\Serilog.Sinks.File.dll" KeyPath="no" />
			</Component>

			<!-- System Libraries -->
			<Component Id="SystemLibraries" Guid="DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
				<File Id="SystemCodeDom" Source="bin\app-files\System.CodeDom.dll" KeyPath="yes" />
				<File Id="SystemDataSQLite" Source="bin\app-files\System.Data.SQLite.dll" KeyPath="no" />
				<File Id="SystemDiagnosticsDiagSource" Source="bin\app-files\System.Diagnostics.DiagnosticSource.dll" KeyPath="no" />
				<File Id="SystemDiagnosticsEventLog" Source="bin\app-files\System.Diagnostics.EventLog.dll" KeyPath="no" />
				<File Id="SystemDrawingCommon" Source="bin\app-files\System.Drawing.Common.dll" KeyPath="no" />
				<File Id="SystemIOPipelines" Source="bin\app-files\System.IO.Pipelines.dll" KeyPath="no" />
				<File Id="SystemManagement" Source="bin\app-files\System.Management.dll" KeyPath="no" />
				<File Id="SystemPrivateWindowsCore" Source="bin\app-files\System.Private.Windows.Core.dll" KeyPath="no" />
				<File Id="SystemTextEncodingsWeb" Source="bin\app-files\System.Text.Encodings.Web.dll" KeyPath="no" />
				<File Id="SystemTextJson" Source="bin\app-files\System.Text.Json.dll" KeyPath="no" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- Shortcuts and Menu Items -->
	<Fragment>

		<!-- Start Menu Shortcut Component -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="EEEEEEEE-EEEE-EEEE-EEEE-EEEEEEEEEEEE">
				<Shortcut Id="StartMenuPrintHero"
						  Name="PrintHero.UI.exe"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<Shortcut Id="UninstallProduct"
						  Name="Uninstall PrintHero.UI.exe"
						  Target="[SystemFolder]msiexec.exe"
						  Arguments="/x [ProductCode]"
						  Description="Uninstalls PrintHero.UI.exe" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Installed"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Program Menu Directory -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ProgramMenuDir" Guid="FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Menu"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Desktop Shortcut -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="10101010-1010-1010-1010-101010101010">
				<Shortcut Id="DesktopShortcut"
						  Name="PrintHero.UI.exe"
						  Target="[INSTALLFOLDER]PrintHero.UI.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\Desktop"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>

	</Fragment>

	<!-- File Associations -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="FileAssociations" Guid="20202020-2020-2020-2020-202020202020">

				<!-- PDF File Association -->
				<ProgId Id="PrintHero.PDF" Description="PrintHero.UI.exe PDF Document">
					<Extension Id="pdf" ContentType="application/pdf">
						<Verb Id="open" Command="Open with PrintHero.UI.exe" TargetFile="PrintHeroUIFile" Argument='"%1"' />
						<Verb Id="print" Command="Print with PrintHero.UI.exe" TargetFile="PrintHeroUIFile" Argument='-print "%1"' />
					</Extension>
				</ProgId>

				<RegistryValue Root="HKCU"
							   Key="Software\PrintHero\FileAssoc"
							   Name="pdf"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Registry Entries -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="RegistryEntries" Guid="30303030-3030-3030-3030-303030303030">

				<!-- Application Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero">
					<RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" />
					<RegistryValue Name="Version" Type="string" Value="1.0.0.0" />
					<RegistryValue Name="InstallDate" Type="string" Value="[Date]" />
				</RegistryKey>

				<!-- User Settings -->
				<RegistryKey Root="HKCU" Key="SOFTWARE\PrintHero\Settings">
					<RegistryValue Name="DefaultPrinter" Type="string" Value="" />
					<RegistryValue Name="PrintQuality" Type="string" Value="High" />
					<RegistryValue Name="AutoRotate" Type="integer" Value="1" />
					<RegistryValue Name="FitToPage" Type="integer" Value="1" />
				</RegistryKey>

				<RegistryValue Root="HKCU"
							   Key="SOFTWARE\PrintHero"
							   Name="Installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

</Wix>